
body {
      margin: 0;
      padding: 0;
    
    }

p {
    font-size: 15px;
    color: white;
    font-family: 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
    line-height: 0px;
    text-align: left;
    position: absolute;
    left: 30px;
    bottom: 0px;
}


.marker {
    background-image: url('acasoundscape-map/logo.jpg');
    background-size: cover;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
}


.sidebar {
  min-height: 100%;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: transparent;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-size: 17px;
  color: white;
  font-family: 'NewsGothic', 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
  line-height: 20px;
  text-align: left;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 56px;
  margin-left: auto;
  z-index:200;
}

 .sidebar-content{ 
    position: absolute;
    top: 5%;
    width: 60%;
    left: 15%;
    height:100%;
}

@media only screen and (min-width: 1000px) {
    .openbtn {
      display:none;
    }
    
    img {
        position: absolute;
        top:30px;
        right:4%;
        width: 100%;
        z-index:300;
        max-height: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    .openbtn {
      position: absolute !important;
      right: 20px;
      font-size: 20px;
      cursor: pointer;
      background-color: transparent;
      margin: 15px;
      color: white;
      border: none;
      z-index: 100;
      width: 100px;
      display:block;
    }
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index:300;
        max-height: 400px;
    }
    
    p{
        position: absolute;
        font-size: 17px;
        color: white;
        font-family: 'NewsGothic', 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
        line-height: 20px;
        text-align: center;
        width:100%;
        top: 25%;
    }
}

@media only screen and (min-width: 1000px) {
    content{ 
        position: absolute;
        right: 3%;
        top: 0;
        width: 20%; 
     }

    p {
        position: absolute;
        font-size: 17px;
        color: white;
        font-family: 'NewsGothic', 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
        line-height: 20px;
        text-align: left;
        /*position: absolute;*/
        right: 5%;
        top: 350px;
        width: 80%;
    }
    
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
}


@media only screen and (max-width: 1000px) {
content{ 
    display: none !important;
 }
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0%;
      width: 100%;
    }
}



    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    /* Popup styling */

    .mapboxgl-popup {
      padding-bottom: 15px;
      top: -10px !important;
    }

    .mapboxgl-popup-close-button {
      display: none;
    }

    .mapboxgl-popup-content {
      font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
      padding: 0px !important;
      width: auto;
      background: transparent !important;
      top: -2px;
    }

    .mapboxgl-popup-content-wrapper {
      padding: 1%;
    }

    .mapboxgl-popup-content h3 {
      background: rgb(61, 59, 59);
      text-align: center;
      color: #fff;
      margin: 0;
      display: block;
      padding: 15px;
      font-weight: 700;
      margin-top: -4px;
    }

    .mapboxgl-popup-content h4 {
      margin: 0;
      display: block;
      padding: 10px 3px 10px 10px;
      font-weight: 400;
    }

    .mapboxgl-container {
      cursor: pointer;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
      margin-top: 3px;
    }
    .mapboxgl-popup-anchor-bottom>.mapboxgl-popup-content {
      margin-top: 3px;
    }
    .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
      border-bottom-color: #FFD700;
    }
.mapboxgl-popup-tip {
    border-top-color: #FFD700 !important;
    border-bottom-color: #FFD700 !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    align-self: center;
    border-top-color: #FFD700 !important;
}


.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #FFD700 !important;
    border-top-color: #FFD70000 !important;
    border-bottom-color: #FFD70000 !important;
}

.mapboxgl-popup-anchor-left {
    left: 20px !important;
    top: 10px !important;
}

.mapboxgl-popup-anchor-right {
    left: -20px !important;
    top: 10px !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #FFD700 !important;
    border-top-color: #FFD70000 !important;
    border-bottom-color: #FFD70000 !important;
}

.mapboxgl-popup-anchor-bottom {
    top: -9px;
}

.mapboxgl-popup-anchor-top {
    top: 20px !important;
    margin-top: 0px;
}

a.mapboxgl-ctrl-logo{
  display: none !important;
}

.mapboxgl-ctrl-bottom-right{
  display: none !important;
}

.mapboxgl-ctrl-top-left {
    top: 30px !important;
    left: 40px !important;
}

.mapboxgl-ctrl-group button {
    background-color: #F6F6E3;
}

h2 {
    font-size: 20px;
    color: #FFD700;
    font-family: 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
    line-height: 0px;
    text-align: center;
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: #FFD700;
}

audio{
    background-color: #FFD700;
    opacity: 0;
    width: 0px !important;
    height: 0px !important;
}

.controls button:hover, .controls button:focus {
   color: #FFD700;
}
